<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <!--Console Appender-->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n} {DEBUG=green, TRACE=blue}"/>
        </Console>

    </Appenders>
    <Loggers>

        <Logger name="org.springframework.web" additivity="true">
            <level value="debug"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="com.InternationalPassport.businessLayer" additivity="true">
            <level value="debug"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="com.InternationalPassport.controller" additivity="true">
            <level value="debug, info"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="com.InternationalPassport.springConfigs.WebSecurityConfig" additivity="true">
            <level value="debug"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="com.InternationalPassport.security" additivity="true">
            <level value="debug"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="org.springframework.security" additivity="true">
            <level value="debug"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="org.springframework.security.web" additivity="true">
            <level value="debug"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="org.springframework.security.web.debug" additivity="true">
            <level value="debug"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="org.springframework.http" additivity="true">
            <level value="debug"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="" additivity="true">
            <level value="debug"/>
            <AppenderRef ref="Console"/>
        </Logger>


        <Root level="debug">
            <AppenderRef ref="Console"/>
            <!--<AppenderRef ref="File"/>-->
        </Root>
    </Loggers>
</Configuration>