<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{patternViews/layout}">
<head>
    <meta charset="UTF-8">
    <title>Log In page</title>
</head>
<body>
<!--width: 100%;-->
<!--height: 100%;-->
<!--background-color: burlywood;-->

    <section layout:fragment="content">
<!--        <form action="#" th:action="@{/main}" th:object="${searchPassportForm}" method="post" class="form-inline">-->
<!--            <input class="form-control mr-sm-2" type="search" th:field="*{seria}" placeholder="Search" aria-label="Search">-->
<!--            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--        </form>-->
        <div class="login-container">
            <div class="login-form">
                <p th:if="${loginError}" class="error">Wrong login or password</p>
                <form th:action="@{/logIn}" th:object="${customer}" method="post">
                    <h2 class="text-center">Log in</h2>
                    <div class="form-group">
                        <input type="text" class="form-control" th:field="*{login}" placeholder="Username" required="required">
                        <span th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Login Error</span>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" th:field="*{password}" placeholder="Password" required="required">
                        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Log in</button>
                    </div>
                    <div class="clearfix">
                        <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
                        <a href="#" class="pull-right">Forgot Password?</a>
                    </div>
                </form>
                <p class="text-center"><a href="/InternationalPassport/main" th:href="@{/main}">Create an Account</a></p>
            </div>
        </div>
    </section>

</body>
</html>