<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{patternViews/layout}">
<head>
    <meta charset="UTF-8">
    <title>Template Thymeleaf</title>
</head>
<body>
    <section layout:fragment="content">
<!--        <h1>Spring MVC + Thymeleaf  Hello World example</h1>-->
<!--        <p th:text="${message}"></p>-->

        <div class="container-content">
            <div class="block-user">
                <div>left block</div>
                <th:block th:each="user: ${users}">
                    <div>
                        <span th:text="${user.name}"></span>
                    </div>
                </th:block>
            </div>

            <div class="block-description">
                <div>right block</div>
            </div>
        </div>
    </section>

</body>
</html>