<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{patternViews/layout}">

<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
    <body>
        <section layout:fragment="content">
<!--            <div class="signup-form">-->
<!--                <form th:action="@{/signUp}" th:object="${customer}"  method="post">-->
<!--                    <h2>Register</h2>-->
<!--                    <p class="hint-text">Create your account. It's free and only takes a minute.</p>-->
<!--                    <div class="form-group">-->
<!--                        <div class="row">-->
<!--                            <div class="col-xs-6"><input type="text" th:field="*{name}" class="form-control" name="first_name" placeholder="First Name" required="required"></div>-->
<!--                            <div class="col-xs-6"><input type="text" th:field="*{lastName}" class="form-control" name="last_name" placeholder="Last Name" required="required"></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <input type="email" th:field="*{email}" class="form-control" name="email" placeholder="Email" required="required">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <input type="password" th:field="*{password}" class="form-control" name="password" placeholder="Password" required="required">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <input type="password" th:field="*{repeatPassword}" class="form-control" name="confirm_password" placeholder="Confirm Password" required="required">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <button type="submit" class="btn btn-success btn-lg btn-block">Register Now</button>-->
<!--                    </div>-->
<!--                </form>-->
<!--                <div class="text-center">Already have an account? <a href="/InternationalPassport/logIn" th:href="@{/logIn}">Sign in</a></div>-->
<!--            </div>-->

            <div class="container-signup">
                <div class="sign-up">
                    <form th:action="@{/signUp}" th:object="${customer}"  method="post">
                        <div class="form-group">
                            <label class="labelForm top" for="formFirstName">First name</label>
                            <input type="text" class="form-control" th:field="*{name}" id="formFirstName" placeholder="First name">
                        </div>
                        <div class="form-group">
                            <label class="labelForm" for="formMiddleName">Middle name</label>
                            <input type="text" class="form-control" th:field="*{patronymic}" id="formMiddleName" placeholder="Middle name">
                        </div>

                        <div class="form-group">
                            <label class="labelForm" for="formLastName">Last name</label>
                            <input type="text" class="form-control" th:field="*{lastName}" id="formLastName" placeholder="Last name">
                        </div>

                        <div class="form-group">
                            <label class="labelForm" for="formLogin">Login</label>
                            <input type="text" class="form-control" th:field="*{login}" id="formLogin" placeholder="Login">
                        </div>

                        <div class="form-group">
                            <label class="labelForm" for="formEmail">Email</label>
                            <input type="email" class="form-control" th:field="*{email}" id="formEmail" placeholder="Email">
                        </div>

                        <div class="form-group">
                            <label class="labelForm" for="formAge">Age</label>
                            <input type="text" class="form-control" th:field="*{age}" id="formAge" placeholder="Age">
                        </div>

                        <div class="form-group">
                            <label class="labelForm" for="formBirthDay">Birth day</label>
<!--                            <input type="date" class="form-control" th:value="*{birthDate}" th:field="*{birthDate}" id="formBirthDay" placeholder="Birth day">-->
                            <input type="date" class="form-control" th:field="*{birthDate}" id="formBirthDay" placeholder="Birth day">
<!--                            <input type="text" class="form-control" th:field="*{birthDate}" id="formBirthDay" placeholder="Birth day">-->
                        </div>

                        <div class="form-group">
                            <label class="labelForm" for="formPass">Password</label>
                            <input type="password" class="form-control" th:field="*{password}" id="formPass" placeholder="Password">
                        </div>

                        <div class="form-group">
                            <label class="labelForm" for="formRepPass">Repeat password</label>
                            <input type="password" class="form-control" th:field="*{repeatPassword}" id="formRepPass" placeholder="Repeat password">
                        </div>
                        <button type="submit" class="btn btn-primary btnForm">Sign in</button>
                    </form>
                </div>
                <div class="picture"></div>
            </div>
        </section>
    </body>
</html>