<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{patternViews/layout}">
<head>
    <meta charset="UTF-8">
    <title>Log In page</title>
</head>
<body>

    <section layout:fragment="content">
        <div class="login-container">
            <div class="login-form">
                <p th:if="${param.error}" class="error">Wrong login or password</p>
                <form th:action="@{/signin}" method="post">
                    <h2 class="text-center">Log in</h2>
                    <div class="form-group">
                        <input class="form-control" type="text" name="username" id="username" placeholder="Username" required="required">
                    </div>
                    <div class="form-group">
                        <input  class="form-control" type="password" name="password" id="password" placeholder="Password" required="required">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Log in</button>
                    </div>
                    <div class="clearfix">
                        <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
                        <a href="#" class="pull-right">Forgot Password?</a>
                    </div>
                </form>
                <p class="text-center"><a href="/InternationalPassport/main" th:href="@{/main}">Create an Account</a></p>
            </div>
        </div>
    </section>

</body>
</html>