<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{patternViews/layout}">

<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
    <body>
        <section layout:fragment="content">
            <div class="container-signup">
                <div class="sign-up">
                    <form th:action="@{/signUp}" th:object="${customer}"  method="post">
                        <div class="form-group">
                            <label class="labelForm top" for="formFirstName">First name</label>
                            <input type="text" class="form-control" th:field="*{name}" id="formFirstName" placeholder="First name">
                            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
                        </div>
                        <div class="form-group">
                            <label class="labelForm" for="formMiddleName">Middle name</label>
                            <input type="text" class="form-control" th:field="*{patronymic}" id="formMiddleName" placeholder="Middle name">
                            <span th:if="${#fields.hasErrors('patronymic')}" th:errors="*{patronymic}">Patronymic Error</span>
                        </div>

                        <div class="form-group">
                            <label class="labelForm" for="formLastName">Last name</label>
                            <input type="text" class="form-control" th:field="*{lastName}" id="formLastName" placeholder="Last name">
                            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">LastName Error</span>
                        </div>

                        <div class="form-group">
                            <label class="labelForm" for="formLogin">Login</label>
                            <input type="text" class="form-control" th:field="*{login}" id="formLogin" placeholder="Login">
                            <span th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Login Error</span>
                        </div>

                        <div class="form-group">
                            <label class="labelForm" for="formEmail">Email</label>
                            <input type="email" class="form-control" th:field="*{email}" id="formEmail" placeholder="Email">
                            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</span>
                        </div>

                        <div class="form-group">
                            <label class="labelForm" for="formAge">Age</label>
                            <input type="text" class="form-control" th:field="*{age}" id="formAge" placeholder="Age">
                            <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</span>
                        </div>

                        <div class="form-group">
                            <label class="labelForm" for="formBirthDay">Birth day</label>
                            <input type="date" class="form-control" th:field="*{birthDate}" id="formBirthDay" placeholder="Birth day">
                            <span th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}">BirthDate Error</span>
                        </div>

                        <div class="form-group">
                            <label class="labelForm" for="formPass">Password</label>
                            <input type="password" class="form-control" th:field="*{password}" id="formPass" placeholder="Password">
                            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span>
                        </div>

                        <div class="form-group">
                            <label class="labelForm" for="formRepPass">Repeat password</label>
                            <input type="password" class="form-control" th:field="*{repeatPassword}" id="formRepPass" placeholder="Repeat password">
                        </div>
                        <button type="submit" class="btn btn-primary btnForm">Sign in</button>
                    </form>
                </div>
                <div class="picture"></div>
            </div>
        </section>
    </body>
</html>