<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{patternViews/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section layout:fragment="content">

<!--    <form action="#" th:action="@{/testfile}" th:object="${test}" method="post" class="form-inline">-->
    <form action="#" th:action="@{/testfile}"  method="post" class="form-inline">
    <input class="form-control mr-sm-2" type="text" name="test" th:value="${test}" >
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">test</button>
    </form>
</section>
</body>
</html>